.slider-main {
    padding-left: 10%;
    padding-right: 10%;
}

.display-2 {
    margin-top: 0%;
}

.signature-img {
    width: 60%;
}

@media (min-width: 1024px) {
    .signature-img {
        width: 30%;
    }
}

.slider-text {
    padding: 5%;
}

.round-img {
    border-radius: 100%;
    max-width: 25%;
}

@media (min-width: 1024px) {
    .round-img {
        max-width: 20%;
    }
}

@media (min-width: 578px) {
    .round-img {
        max-width: 30% !important;
    }
}

.vr {
    display: inline;
    height: auto;
    width: 1px;
    border: 1px inset;
    background-color: black;
    opacity: 1;
}

@media (max-width: 576px) {
    .vr {
        display: none;
    }
}


.sp_container {
    width: 40vw;
}

@media (max-width: 576px) {
    .sp_container {
        width: 100vw;
    }
}



body {
    height: 100vh;
    max-height: 100vh;
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
}

.bg-slide {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
    }
}